BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "led8" SITE "107" ;
LOCATE COMP "led7" SITE "106" ;
LOCATE COMP "led6" SITE "105" ;
LOCATE COMP "hex_switch_nb3" SITE "114" ;
IOBUF PORT "hex_switch_nb3" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "led4" SITE "100" ;
LOCATE COMP "led3" SITE "99" ;
LOCATE COMP "led1" SITE "97" ;
LOCATE COMP "led2" SITE "98" ;
LOCATE COMP "hex_switch_nb0" SITE "1" ;
LOCATE COMP "hex_switch_nb1" SITE "5" ;
LOCATE COMP "hex_switch_nb2" SITE "112" ;
LOCATE COMP "led5" SITE "104" ;
IOBUF PORT "hex_switch_nb0" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "hex_switch_nb1" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "hex_switch_nb2" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "ft2232b_d0" SITE "73" ;
LOCATE COMP "ft2232b_d1" SITE "74" ;
LOCATE COMP "ft2232b_d2" SITE "75" ;
LOCATE COMP "ft2232b_d3" SITE "76" ;
LOCATE COMP "ft2232b_d4" SITE "81" ;
LOCATE COMP "ft2232b_d5" SITE "77" ;
LOCATE COMP "ft2232b_d6" SITE "78" ;
